@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
}
/*************Header Section**********/
.header-section {
  background: url(./Assets/bg-content.jpg);
  text-align: center !important;
}
hr {
  border: none;
  height: 2px;
  background: #dddddd;
  width: 50%;
  margin: auto;
  margin-top: 2px;
}
.paragraphe {
  margin: 20px;
}
span {
  font-family: "Sacramento", cursive;
  color: #f78812;
  font-size: 35px;
  font-weight: 500;
}
.paragraphe p pre {
  font-family: "Open Sans Condensed", sans-serif;
  text-align: center !important;
}
/*************About-Section***********/
h4 {
  text-align: center;
  color: #f78812;
  font-weight: bold;
}
#about-l {
  height: 1px;
  width: 5%;
  background-color: #dddddd;
  margin-top: 2px;
  margin-left: 500px;
}
.hr-left {
  margin-top: -10px;
}
.hr-right #about-r {
  height: 1px;
  width: 5%;
  background-color: #dddddd;
  margin-top: 2px;
  margin-left: 730px;
}
.hr-right {
  margin-top: -5px;
}
.title {
  margin-bottom: 20px;
}
.cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card1 {
  flex: 30%;
  max-width: 20%;
  padding: 15px;
  height: 300px;
}
.card1 h3 {
  text-align: center;
  color: #c29979;
  margin-bottom: 40px;
}
.card1 img {
  margin-bottom: 20px;
}
.card1 P {
  text-align: left;
  margin-bottom: 20px;
}
.bg1 {
  background-color: #f3d9b1;
}
.link {
  margin-left: 70px;
  text-decoration: none;
  color: #a9aca9;
  font-weight: 800;
  font-size: 15px;
}
/*************Galerie Section ********/
h2 {
  text-align: center;
  color: #865439;
  font-weight: bold;
  font-family: "montserrat", sans-serif;
}

.next-arrow {
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: url(./Assets/next-galerie.png) center center no-repeat;
  background-size: 15%;
}
.prev-arrow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  background: url(./Assets/prev-galerie.png) center center no-repeat;
  background-size: 15%;
}
.Galeries {
  padding: 40px 0;
  background: url(./Assets/bg-galerie.jpg);
}
.inner {
  position: relative;
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 20px;
  animation: 30s slidy infinite;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.col {
  flex: 20%;
  max-width: 20%;
  box-sizing: border-box;
  padding: 15px;
}

.galerie {
  margin: 5px;
  background: #fff;
  border: 6px solid #fff;
  float: left;
  position: relative;
}
.galerie:before {
  content: "";
  display: block;
  position: absolute;
  height: 0%;
  width: 100%;
  bottom: 0;
  transition: height 0.5s ease-out;
}
.galerie:hover:before {
  height: 100%;
  background-image: url(./Assets/hover-box-galerie.png),
    linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
  background-repeat: no-repeat;
  background-position: center;
}
/* @keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
} */

/*******************Media Query *************/
@media screen and (max-width: 960px) {
  .row {
    display: flex;
    align-items: center;
    flex: 100%;
    max-width: 100%;
  }
  .col {
    flex: 50%;
    max-width: 80%;
  }
  .next-arrow {
    display: none;
  }
  .prev-arrow {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .row {
    display: flex;
    align-items: center;
    flex: 100%;
    max-width: 100%;
  }

  .next-arrow {
    display: none;
  }
  .prev-arrow {
    display: none;
  }
}
